body{
margin: 0;
font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif ;
}

.header{
    display: flex;
    justify-content: space-between;
    background-color: #1F2937 ;
    padding: 16px 15%;
    align-items: center;
    color: white;

}

.nav-links{
    display: flex;
    list-style-type: none;
    gap: 20px;
    font-size: 18px;
    color: #E5E7EB;

}

#hero{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 60px 15%;
    color: white;
    background-color: #1F2937;

}

.hero-text h1{
    font-size: 40px;

}

.hero-text p{
    font-size: 18px;
    margin-bottom: 15px;
    color: #E5E7EB;
}

.hero-image{
    width:400px;
    height: 200px;
    background-color: gray;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo{
    font-size: 25px;
    color: #F9FAF8;
    font-weight: bold;
}

.cards-container{
    display: flex;
    justify-content: center;
    gap: 20px;
    align-items: center;
    padding: 20px 0 ;

}

.card-image{
    width: 150px;
    height: 150px;
    border: 4px solid #3882F6;
    border-radius: 8px;
}

.card{
    text-align: center;
    width: 180px;
}

.attribution{
    text-align: right;
}

.section-quote{
    background-color: #E5E7EB;
    padding: 100px 15%;
}

blockquote{
    color: #1F2937;
    font-weight: 300;
    font-size: 36px;
    width: 750px;
    margin: 0 auto;
}

.cta-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #3882F6;
    padding: 50px 100px;
    color: #F9FAF8;
}

.cta-button{
    color: #F9FAF8;
    border: 2px solid #F9FAF8;
    background-color: transparent;
    border-radius: 8px;
    padding: 8px 32px;

}

footer{
    background-color: #1F2937;
    color: #F9FAF8;
    justify-content: center;
    text-align: center;
    padding: 24px 0;
}